:root {
  --vertical-cut-off: 0px;
}

/* I don't know if this is a windows only thing, but firefox gets cut off by 8px (top & bottom) when maximized */
/* seems to be caused by: #titlebar { appearance: none !important; }  */
:root[sizemode='maximized'] {
  --vertical-cut-off: 8px;
}

@media (-moz-mac-big-sur-theme: 1) {
  :root[sizemode='maximized'] {
    --vertical-cut-off: 1.5px;
  }
}

@namespace url('http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul');

/* ------------------------------------- */
/* Put window buttons in nav/address bar */
/* ------------------------------------- */
#main-window {
  padding-top: var(--vertical-cut-off) !important;
}

#navigator-toolbox {
  border-color: rgba(255, 255, 255, 0.1) !important;
}

/* remove weird fullscreen (f11) transition */
#navigator-toolbox[fullscreenShouldAnimate] {
  transition: margin-top 0s !important;
}

#nav-bar {
  padding-right: 138px;
}

#titlebar {
  appearance: none !important;
}

#TabsToolbar :is(.titlebar-spacer, .private-browsing-indicator) {
  display: none;
}

#TabsToolbar .titlebar-buttonbox-container {
  display: block;
  position: fixed;
  right: 0;
  top: var(--vertical-cut-off);
  z-index: 1;
}

#TabsToolbar .toolbar-items {
  display: none;
}

#urlbar-container {
  -moz-window-dragging: drag;
}

#urlbar-container > * {
  -moz-window-dragging: no-drag;
}

#browser {
  padding-bottom: var(--vertical-cut-off) !important;
}

@media (-moz-mac-big-sur-theme: 1) {
  #TabsToolbar {
    min-height: 0 !important;
    pointer-events: none;
  }

  #nav-bar {
    padding-left: 66px;
    padding-right: 0;
  }

  #TabsToolbar .titlebar-buttonbox-container {
    display: block;
    position: fixed;
    left: 0;
    top: 13.5px;
    z-index: 1;
  }
}

/* ------- */
/* Sidebar */
/* ------- */
#sidebar-box {
  position: relative;
  max-width: 320px;
  min-width: 320px;
  height: 100%;
  margin-left: -280px;
  z-index: 1;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgb(28, 27, 34) !important;
  transition: transform 0.2s ease;
}

#sidebar-box:hover,
#sidebar-box:not([sidebarcommand='treestyletab_piro_sakura_ne_jp-sidebar-action']) {
  transform: translateX(280px);
}

#sidebar-splitter,
#sidebar-header {
  display: none;
}

/* --------- */
/* Bookmarks */
/* --------- */
#BMB_bookmarksShowAllTop,
#BMB_bookmarksShowAllTop + menuseparator,
#BMB_viewBookmarksSidebar,
#BMB_bookmarksToolbar,
#BMB_unsortedBookmarks,
#BMB_bookmarksShowAll,
#BMB_mobileBookmarks + menuseparator {
  display: none;
}
